
$m: 0; // margin

$nav-color: rgb(49, 56, 63);
$bg-color: rgb(242, 242, 242);

$box-shadow: 0px 9px 25px 2px darken($bg-color, 8%);

$beforeNavHover: rgba(255, 255, 255, 0.4);
$afterNavHover: rgba(237, 237, 237, 0.9);

@keyframes onHoverNavItem {
  0%   { color: $beforeNavHover; }
  100% { color: $afterNavHover; }
}

.whiteCardTabThree {
  background-color: white;
  padding: 20px;
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 90%;
  border-radius: 4px;
  height: 200px;
  box-shadow: $box-shadow;
}

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(227, 227, 227);
  // background-image:
  //  radial-gradient(
  //  rgb(235, 235, 235), 
  //    #9d9d9d
  //  );
  // background: rgb(40, 40, 41);
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  color: black;
}

.fullAppContainer {
  display: flex;
}

.mainContainer {
  padding: 20px 20px;
  width: 900px;
}

.mainContainerHome {
  padding: 20px 20px;
  width: 900px;
  // float: left;
}

.smallermainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.Nav {
  background-color: $nav-color;
  width: 174px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.Nav__container {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 174px;
}

.Nav__item-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-content: center;
  width: 174px;
  font-family: Arial, Helvetica, sans-serif;
}

.Nav__item {
  display: flex;
  flex-direction: row;
  padding: 20px 0 30px 10px;
  margin-left: -30px;
  list-style-type: none;
  justify-content: left;
  width: 174px;
}

.Nav__link {
  display: flex;
  clear: right;
  align-items: center;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.6)
}

.Nav__link:hover {
  color: rgba(255, 255, 255, 1)
}

a {
  text-decoration: none;
  color: white;
}

.hidden {
  display: none;
}

.spinner {
  padding: 20px;
}

.btn {
  transition: 0.3s;
  background-color:none;
  background-color: "white";
  border-radius: 4px;
  outline: none;
  border:none;
  box-shadow: 0px 2px 15px 2px rgb(232, 232, 232);
  color:rgb(245, 39, 111);
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 2px 5px 3px rgb(163, 174, 189);
  color: white;
  background: rgb(245, 39, 111);
  
}

#resetButton {
  margin-right: 10px;
}

#buttonContainer {
  // border: 1px solid black;
  display: inline-block;
  margin-top: 30px;
}

.chartNav {
  display: block;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-left: -60px;
  margin-bottom: 12px;
  width: 100%;
  color: rgba(255, 255, 255, 1)
}

.chartNavLinks {
  color:rgba(255, 255, 255, 0.4);
  padding: 10px;
  cursor: pointer;
  font-size: 13px;
  padding-left: 40px;
}

.chartNavOff {
  display: none;
}

.chartNavLinkSelected {
  color: rgba(237, 237, 237, 0.9);
}

.chartNavLinks:hover {
  animation: onHoverNavItem 0.6s ;
  color: $afterNavHover;
}

.chartButtons {
  margin: 0 10px 0 0;
  transition: 0.3s;
  background-color: darken($nav-color, 30%);
  border-radius: 4px;
  outline: none;
  border:none;
  box-shadow: 0px 2px 5px 2px rgb(10, 10, 11);
  color:white;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.chartButtons:hover {
  box-shadow: 0px 2px 5px 3px rgba(228, 228, 228, 0.2);
}

#treemapButton {
  margin: 0 10px 0 0;
  transition: 0.3s;
  background-color: darken($nav-color, 30%);
  border-radius: 4px;
  outline: none;
  border:none;
  box-shadow: 0px 2px 5px 2px rgb(10, 10, 11);
  color:white;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

#treemapButton:hover {
  box-shadow: 0px 2px 5px 3px rgb(163, 174, 189);
}

.stats {
  margin: 10px 0;
}

.toolTip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

.slice {
  cursor: pointer;
}
  
.slice .main-arc {
  stroke: #E5E2E0;
  stroke-width: 1px;
}
  
.slice .hidden-arc {
  fill: none;
}
  
.slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}

.feature {
	position: relative;
	width: 700px;
	height: 700px;
	margin: $m * 1px;
	//background: #aaa;
	overflow: hidden;
}
.nodeTZ {
	position: absolute;
	background: transparent url('') no-repeat 50% / cover;
	//border: 1px white solid;
	overflow: hidden;
	opacity: 0.8;
	transition: opacity .8s;
	cursor: pointer;
	.label {
		display: inline;
		font-family: sans-serif;
		color: hsla(0,0,100,.6);
		//white-space: nowrap;
		position: absolute;
		padding: 0;
		margin: 0;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: color .4s, opacity .8s, filter .8s;
	}
	&.hide { // zoom in
		opacity: 0;
		pointer-events: none;
		.label {
			filter: blur(10px);
		}
	}
	&:hover {
		//background-color: #222 !important;
		//opacity: 1;
		.label {
			color: hsla(0,0,100,1);
		}
	}
	&.level-0 {
		z-index: 4;
		font-size: 15vmin;
		display: none;
	}
	&.level-1 {
		z-index: 3;
		font-size: 10vmin;
	}
	&.level-2 {
		z-index: 2;
		font-size: 5vmin;
	}
	&.level-3 {
		z-index: 1;
		font-size: 2.5vmin;
	}
}

.d3DisplayOn {
  display: block;
}

.d3DisplayOff {
  display: none;
}

#trail2 {
  width: 100%;
}

.selected {
  color: rgba(255, 255, 255, 1);
}

#logoContainer {
  height: 120px;
  width: 120px;
  border: solid 3px white;
  margin: auto;
}

#welcomeCard {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  width: 90%;
  box-shadow: $box-shadow;
}

#welcomeCardBottom {
  background-color: white;
  padding: 20px;
  margin: 20px 20px 20px 20px;
  // font-family: 'Lucida Sans', Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  width: 90%;
  border-radius: 4px;
  box-shadow: $box-shadow;
}

.up {
  background: white;
  width: 45px;
  padding: 8px;
  margin-bottom: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 8px 10px 15px #292929;
  cursor: pointer
}

#zoomContainer {
  margin-top: 10px;
}
