@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald|Roboto|Raleway|Cabin|Nobile|Exo+2|Yantramanav');

$m: 0; // margin

$nav-color: rgb(49, 56, 63);
$bg-color: rgb(242, 242, 242);
$body-bg-color: #f6f6f6;
$text-black: #485563;
$text-primary: #e16672;

$box-shadow: 0px 7px 22px 2px darken($bg-color, 3%);

$beforeNavHover: rgba(255, 255, 255, 0.4);
$afterNavHover: rgba(237, 237, 237, 0.9);

$beforeNavLinkHover: rgba(255, 255, 255, 0.6);
$afterNavLinkHover: rgba(237, 237, 237, 1);

@keyframes onHoverNavItem {
  0%   { color: $beforeNavHover; }
  100% { color: $afterNavHover; }
}

@keyframes onHoverNavLink {
  0%   { color: $beforeNavLinkHover; }
  100% { color: $afterNavLinkHover; }
}

@keyframes whiteCardFadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: $body-bg-color;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  color: black;
}

.fullAppContainer {
  display: flex;
}

.mainContainer {
  padding: 20px;
  width: 900px;
}

.mainContainerHome {
  padding: 20px;
  width: 900px;
}

.smallermainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.Nav {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  width: 174px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-shadow: 9px 0px 25px 2px darken($bg-color, 13%);
  // box-shadow: $box-shadow;
}

.Nav__container {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 174px;
}

.Nav__item-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-content: center;
  width: 180px;
  font-family: Arial, Helvetica, sans-serif;
}

.Nav__item {
  display: flex;
  flex-direction: row;
  padding: 20px 0 30px 10px;
  margin-left: -30px;
  list-style-type: none;
  justify-content: left;
  width: 174px;
}

.Nav__link {
  display: flex;
  clear: right;
  align-items: center;
  padding-left: 10px;
  color: $beforeNavLinkHover;
  font-family: Raleway;
}

.Nav__link:hover {
  // color: rgba(255, 255, 255, 1);
  animation: onHoverNavLink 0.6s;
  color: $afterNavLinkHover;
}

a {
  text-decoration: none;
  color: white;
}

.hidden {
  display: none;
}

.spinner {
  padding: 20px;
}

.btn {
  transition: 0.3s;
  background-color:none;
  background-color: white;
  border-radius: 4px;
  outline: none;
  border:none;
  // box-shadow: $box-shadow;
  color:rgb(225, 102, 114);
  // color: rgb(123, 242, 187);
  // color: rgb(55, 70, 63);
  font-size: 14px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: $box-shadow;
  color: white;
  background: rgb(247, 101, 116);
  // background: rgb(225, 102, 114);
  // background: none;
  // border: 2px solid rgb(235, 178, 183);
}

#resetButton {
  margin-right: 10px;
}

#buttonContainer {
  // border: 1px solid black;
  display: inline-block;
  margin-top: 30px;
}

.chartNav {
  display: block;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-left: -60px;
  margin-bottom: 12px;
  width: 100%;
  color: rgba(255, 255, 255, 1)
}

.chartNavLinks {
  color:rgba(255, 255, 255, 0.4);
  padding: 10px;
  cursor: pointer;
  font-size: 13px;
  padding-left: 40px;
  font-family: "Raleway", sans-serif;
}

.chartNavOff {
  display: none;
}

.chartNavLinkSelected {
  color: $afterNavHover;
}

.chartNavLinks:hover {
  animation: onHoverNavItem 0.6s ;
  color: $afterNavHover;
}

.chartButtons {
  margin: 0 10px 0 0;
  transition: 0.3s;
  background-color: darken($nav-color, 30%);
  border-radius: 4px;
  outline: none;
  border:none;
  box-shadow: 0px 2px 5px 2px rgb(10, 10, 11);
  color:white;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.chartButtons:hover {
  box-shadow: 0px 2px 5px 3px rgba(228, 228, 228, 0.2);
}

#treemapButton {
  margin: 0 10px 0 0;
  transition: 0.3s;
  background-color: darken($nav-color, 30%);
  border-radius: 4px;
  outline: none;
  border:none;
  box-shadow: 0px 2px 5px 2px rgb(10, 10, 11);
  color:white;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

#treemapButton:hover {
  box-shadow: 0px 2px 5px 3px rgb(163, 174, 189);
}

.toolTip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

.slice {
  cursor: pointer;
}
  
.slice .main-arc {
  stroke: #E5E2E0;
  stroke-width: 1px;
}
  
.slice .hidden-arc {
  fill: none;
}
  
.slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}

.feature {
	position: relative;
	width: 700px;
	height: 700px;
	margin: $m * 1px;
	//background: #aaa;
	overflow: hidden;
}
.nodeTZ {
	position: absolute;
	background: transparent url('') no-repeat 50% / cover;
	//border: 1px white solid;
	overflow: hidden;
	opacity: 0.8;
	transition: opacity .8s;
	cursor: pointer;
	.label {
		display: inline;
		font-family: sans-serif;
		color: hsla(0,0,100,.6);
		//white-space: nowrap;
		position: absolute;
		padding: 0;
		margin: 0;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: color .4s, opacity .8s, filter .8s;
	}
	&.hide { // zoom in
		opacity: 0;
		pointer-events: none;
		.label {
			filter: blur(10px);
		}
	}
	&:hover {
		//background-color: #222 !important;
		//opacity: 1;
		.label {
			color: hsla(0,0,100,1);
		}
	}
	&.level-0 {
		z-index: 4;
		font-size: 15vmin;
		display: none;
	}
	&.level-1 {
		z-index: 3;
		font-size: 10vmin;
	}
	&.level-2 {
		z-index: 2;
		font-size: 5vmin;
	}
	&.level-3 {
		z-index: 1;
		font-size: 2.5vmin;
	}
}

.d3DisplayOn {
  display: block;
}

.d3DisplayOff {
  display: none;
}

#trail2 {
  width: 100%;
}

.selected {
  color: $afterNavLinkHover;
}

#logoContainer {
  height: 120px;
  width: 120px;
  border: solid 3px white;
  margin: auto;
}

.whiteCard {
  background-color: rgba(250, 250, 250, 1);
  padding: 20px;
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 90%;
  border-radius: 4px;
  box-shadow: $box-shadow;
  animation: whiteCardFadeIn 1s;
}

.whiteCardOff {
  background-color: $body-bg-color;
  padding: 20px;
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 90%;
  border-radius: 4px;
}

.welcomeCard {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
}

.welcomeCardBottom {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.displayOff {
  display: none;
}

.up {
  background: white;
  width: 45px;
  height: 18px;
  padding: 8px;
  margin-bottom: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 4px;
  box-shadow: $box-shadow;
  cursor: pointer;
  font-size: 13px;
}

.zoomTreemapColumnContainer {
  display: flex;
  flex-direction: column;
}

#zoomContainer {
  margin-top: 3px;
}

#viewBox {
  margin-top: -20px;
}

#endlabel {
  color: black;
}

.stats {
  margin: 20px 0 10px 0;
}

#tabTwoStatsButton {
  margin-bottom: 0px;
}

.tabTwoHeading {
  font-size: 30px;
  margin-bottom: 10px;
  color: darken($text-black, 2%);
  font-family: 'Oswald', sans-serif;
  padding-left: 8px;
}

.tabTwoCheckbox {
  margin-right: 8px;
  // font-size: 85px;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
}

.checkBoxPadding {
  padding: 10px;
}

.chartStatsHeadingBoxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 836px;
  height: 100px;
  background: white;
  margin-left: 20px;
}

.boxContainer {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  justify-content: space-between;
}

.chartStatsHeadingBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 130px;
  border-radius: 3px;
}

.boxLine {
  border-right: 1px solid $bg-color;
  height: 70px;
}

.chartSVGContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#welcomeHeader {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}

#welcomeMessage {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-top: 10px;
}

.progressChart rect:first-of-type {
  color: #9c63ed;
  stroke: #9c63ed;
  fill: #9c63ed;
}

// text:first-of-type {
//   fill: #3994b6;
//   font-family: sans-serif;
//   font-size: 12px;
// }

.progressChart rect:nth-of-type(2) {
  color: #fff;
  stroke: transparent;
  fill: #86e1c7;
}

// text:nth-of-type(2) {
//   fill: #3994b6;
//   font-family: sans-serif;
//   font-size: 12px;
// }

// .progressChart {
//   width: 600px;
//   height: 100px;
// }

// rect {
//   width: 600px;
//   height: 100px;
// }

.boxTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darken($text-black, 2%);
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  font-weight: 530;
}

.textPrimaryColor {
  color: lighten($text-primary, 3%);
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
}

.configMessageText {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}

// Nobile|Exo+2|Yantramanav

#filename {
  color: $text-black;
  font-family: 'Yantramanav', sans-serif;
  font-size: 17px;
}

#percentage {
  color: $text-black;
  font-family: 'Yantramanav', sans-serif;
  font-size: 17px;
}

#filesize {
  color: $text-black;
  font-family: 'Yantramanav', sans-serif;
  font-size: 17px;
}

.displaySelectJsonOff {
  display: none;
}

.configRadios {
  padding-bottom: 8px;
}